
.box_wrapper:after {
  content: '';
  position: absolute;
  left: -1px;
  width: 36px;
  height: 25px;
  border-radius: 25px 25px 0 0;
  bottom: 31%;
  background-color: yellow;
}

.box_wrapper:after {
  content: '';
  position: absolute;
  left: -2%;
  width: 38px;
  height: 10px;
  bottom: -18%;
  background-color: yellow;
  //z-index: 1;
  border-radius: 12px 12px 0 0;
  /* box-shadow: inset rgb(0 0 0 / 10%) 0px 7px 0px 0px, rgb(0 0 0 / 4%) -1px 1px 10px -5px; */
  /* background: radial-gradient(circle at 450px 150px, transparent 49px, #fff 50px); */
}











.top_element {
  width: 36px;
  height: 36px;
  position: absolute;
  top: -25px;
  left: 61%;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  z-index: -2;
  background: radial-gradient(
    circle at 450px 150px,
    transparent 49px,
    #fff 50px
  );
}

.bottom_element {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: -25px;
  left: 61%;
  border-radius: 50%;
  box-shadow: inset rgb(0 0 0 / 10%) 0px 6px 8px 5px,
    rgb(0 0 0 / 4%) 0px 10px 10px -5px;
  background: radial-gradient(
    circle at 450px 150px,
    transparent 49px,
    #fff 50px
  );
}
